.navbar a{
  padding: 5px;
  color:#ffffff;

  background-image: linear-gradient(94deg,#ac2f77,#da355a 72.9%);

  &:hover{
    text-decoration: none;
    color: #ffffff;
    transform: scale(1.5);
    
     }
}

